  <div class="main-image">
        <div class=" col-lg-6 col-sm-4 col-xs-8"> <h1 class="image-left-div"> How people Manage Tasks </h1> 
          <p class="image-paragraph-font"> Millions of people use TaskManager to manage tasks and support their businesses.<br><br><br><br><br><br><br><br><br><br><br><br>
          </p>
        </div>
  </div> 

