// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-image{
  background-image: url(asset-path('images.jpg'));
  height: 500px;
  width: 100%; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.image-paragraph-font{
  font-size: 3em
}

.image-left-div{
  padding-top: 150px;;
  font-size: 5em;
}