// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-left-div{
  padding-top: 150px;
  color: black;
}

.image-paragraph-font{
  font-size: 1.5em;
  width: 80%;
}

.image-heading-font{
  font-size: 4em;
}
